In [1]:
import os
import pandas as pd

In [3]:
# Importamos los datos
data = pd.read_csv("Datos_coches_numerico.csv")  # O usa la ruta completa si es necesario

In [5]:
data = data.dropna(axis=0)
# Comprobamos que no hay valores perdidos.
data.isnull().sum()
# Con esta funcion vemos si existen (TRUE) o no (FALSE) datos perdidos
data.isnull().any().any()

np.False_

In [4]:
data.columns

Index(['Unnamed: 0', 'Precio', 'Título', 'Combustible', 'Año', 'kilometraje',
       'Cambio', 'Potencia', 'B'],
      dtype='object')

In [6]:
data = data.drop(["Combustible"], axis=1)
data = data.rename(columns={"B": "Combustible"})
# El primer paso es conocer nuestros datos.
# Realizamos una primera visualizacion.
# EL objetivo es precedir la dureza del hormigón.
print(data)

      Unnamed: 0  Precio                                 Título   Año  \
0              1   11999                  Renault Talisman 2017  2017
1              3    6999                    Renault Megane 2012  2012
2              4    4500                    Renault Megane 2010  2010
3              5    4999               Renault Laguna 4 CONTROL  2013
4              6    5800                    Renault Kangoo 2017  2017
...          ...     ...                                    ...   ...
1957        2073    8900                         Renault 4 1992  1992
1958        2074   12900                    Renault Kadjar 2017  2017
1959        2075    6550                    Renault Trafic 2006  2006
1960        2076   14790     Renault Captur Zen dCi 66kW (90CV)  2020
1961        2077   11990  Renault Clio Intens TCe 74 kW (100CV)  2019

      kilometraje      Cambio  Potencia Combustible
0          158000      Manual       110      Diésel
1          166000      Manual       115    Gasolina
2          212580      Manual       110      Diésel
3          316000  Automático       175      Diésel
4          233000      Manual        75      Diésel
...           ...         ...       ...         ...
1957       227000      Manual        27    Gasolina
1958       134000      Manual       130      Diésel
1959       300317      Manual       110      Diésel
1960        79447      Manual        90      Diésel
1961        60000      Manual       100    Gasolina

[1839 rows x 8 columns]

In [7]:
one_hot = pd.get_dummies(data['Combustible'])
# Drop column B as it is now encoded
data = data.drop('Combustible', axis=1)
# Join the encoded df
data = data.join(one_hot)

In [8]:
data["Cambio"].replace("Automático", 1, inplace=True)
data["Cambio"].replace("Manual", 0, inplace=True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_13268\957507286.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Cambio"].replace("Automático", 1, inplace=True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_13268\957507286.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Cambio"].replace("Manual", 0, inplace=True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_13268\957507286.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["Cambio"].replace("Manual", 0, inplace=True)

In [9]:
# Visualizamos los 10 primero datos, de una manera mas comoda.
data.head(n=10)

,Unnamed: 0,Precio,Título,Año,kilometraje,Cambio,Potencia,Diésel,Eléctrico,Gasolina,Hybrid,Otros
0,1,11999,Renault Talisman 2017,2017,158000,0,110,True,False,False,False,False
1,3,6999,Renault Megane 2012,2012,166000,0,115,False,False,True,False,False
2,4,4500,Renault Megane 2010,2010,212580,0,110,True,False,False,False,False
3,5,4999,Renault Laguna 4 CONTROL,2013,316000,1,175,True,False,False,False,False
4,6,5800,Renault Kangoo 2017,2017,233000,0,75,True,False,False,False,False
5,7,5999,Renault Grand Scenic 2014,2014,250000,0,110,True,False,False,False,False
6,8,9900,Renault Megane 2019,2019,115000,0,115,True,False,False,False,False
7,9,22000,Renault Trafic 2022,2022,35000,0,110,True,False,False,False,False
8,10,3500,Renault Megane 2004,2004,152000,0,80,True,False,False,False,False
9,11,8300,Renault Kangoo 2019,2019,114031,0,90,True,False,False,False,False

In [10]:
# Realizamos un resumen estadistico de las variables.
descripcion = data.describe(include="all").T

In [11]:
descripcion

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Unnamed: 0,1839.0,NaN,NaN,NaN,1066.144644,587.328555,1.0,554.5,1082.0,1576.5,2077.0
Precio,1839.0,NaN,NaN,NaN,14110.395867,9139.366357,0.0,7997.0,13490.0,18690.0,82900.0
Título,1839,1099,Mercedes-Benz Citan 1.5 CDI 109 Furgón 90CV,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Año,1839.0,NaN,NaN,NaN,2016.302882,6.08948,1980.0,2015.0,2019.0,2020.0,2024.0
kilometraje,1839.0,NaN,NaN,NaN,142195.892333,791700.453133,1.0,61627.0,102173.0,148557.5,33400000.0
Cambio,1839.0,NaN,NaN,NaN,0.162045,0.368592,0.0,0.0,0.0,0.0,1.0
Potencia,1839.0,NaN,NaN,NaN,123.894508,266.69857,13.0,95.0,115.0,130.0,11290.0
Diésel,1839,2,True,1332,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Eléctrico,1839,2,False,1801,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gasolina,1839,2,False,1415,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hybrid,1839,2,False,1815,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Otros,1839,2,False,1818,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1839 entries, 0 to 1961
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1839 non-null   int64
 1   Precio       1839 non-null   int64
 2   Título       1839 non-null   object
 3   Año          1839 non-null   int64
 4   kilometraje  1839 non-null   int64
 5   Cambio       1839 non-null   int64
 6   Potencia     1839 non-null   int64
 7   Diésel       1839 non-null   bool
 8   Eléctrico    1839 non-null   bool
 9   Gasolina     1839 non-null   bool
 10  Hybrid       1839 non-null   bool
 11  Otros        1839 non-null   bool
dtypes: bool(5), int64(6), object(1)
memory usage: 123.9+ KB

Intentamos "limitar" nuestro estudio a los datos para los que tiene sentido hacer un modelo de predicción

In [13]:
# Quitar los que no son renault
data = data[data["Título"].str.contains("enault")]

In [14]:
# Quedarnos con los precios entre 1000 y 25000
data = data[data['Precio'].between(1000, 25000)]
# kilómetros entre 1000 y 300000
data = data[data['kilometraje'].between(1000, 300000)]

In [16]:
data = data[data["Año"] > 1995]
data = data[data["Potencia"] < 450]

In [17]:
data = data.drop('Título', axis=1)
data = data.drop('Unnamed: 0', axis=1)

In [16]:
data = data.drop('Otros', axis=1)

In [18]:
len(data)

1056

Una vez que comprobamos que los datos son correctos pasamos a la modelizacion, utilizando tecnicas de machine learning.

Cuando realizamos un modelo predictivo es necesario conocer la fiabilidad esperada con datos futuros.

Para ello podemos hacer una particion y utilizar unos datos para entrenar el modelo (train) y otros para comprobar la fiabilidad (test).

# Representaciones gráficas de los datos

Una vez que comprobamos que los datos son correctos pasamos a la modelizacion, utilizando tecnicas de machine learning.

Cuando realizamos un modelo predictivo es necesario conocer la fiabilidad esperada con datos futuros.

Para ello podemos hacer una particion y utilizar unos datos para entrenar el modelo (train) y otros para comprobar la fiabilidad (test).

# Modelo de Regresión